.calc_num,
.calc_delete,
.money_selectors{
	font-weight: bold;
	font-size: 3em;
	text-align: center;
}

.calc_text{
	height: 10vh;
}

/*footer{
	position: fixed;
	bottom: 0;
	width: 100%;
}*/
.left_column{
	height: 100% !important;
}

p,
.category_selectors,
.add_charge{
	text-align: center;
}

.navbar-fixed{
	margin-bottom: 20px;
}