/* rem = root html font size */
/* em = relative to the font size of the element */
/* vh = percentage of the full viewport height */
/* vw = percentage of the full viewport width */
/* calc(16px + 0.5vw) */

html,
body,
.first_row
{
	/*height: 100%;*/
}

.first_row{
	background-color: white;
}

.calc_num,
.calc_delete,
{
	font-weight: bold;
	font-size: 3em;
	text-align: center;
}

.category_selectors{
	font-size:calc(12px + .8vw);
	/*border-radius: 1rem;*/
	padding-bottom: .5em;
	padding-top: .5em;
}

.calc_text{
	height: 10vh;
}

p,
.category_selectors,
.add_charge{
	text-align: center;
}

.money_symbol{
	color: #fdd835;
}

.balance_column{
	width: 100%;
}

.balance_inner{
	text-align: center;
	/*color: white;*/
	padding-top: .5em !important;
	padding-bottom: .5em !important;
	padding-right: .5em !important;
	padding-left: .5em !important;
	/*border-radius: 1rem;*/
	font-size:calc(12px + 1vw);
}

.date_message{
	text-align: center;
	font-size:calc(12px + 1.5vw);
}

.icon_container{
	text-align: center;
}

.neg_bal{
	/*border: solid 3px #b71c1c;*/
	box-shadow: 0 2px 2px 0 rgba(255,0,0,0.14), 0 3px 1px -2px rgba(255,0,0,0.12), 0 1px 5px 0 rgba(255,0,0,0.2);
}

.progress_bar{
	height: 2vh;
	/*background-color: black;*/
	border: 1px solid black;
}

#green_bar{
	height: 100%;
	background-color: rgb(27, 94, 32);;
}

#red_bar{
	height: 100%;
	background-color: rgb(183, 28, 28);
}
