/* rem = root html font size */
/* em = relative to the font size of the element */
/* vh = percentage of the full viewport height */
/* vw = percentage of the full viewport width */
/* calc(16px + 0.5vw) */

html,
body,
.top_row
{
	height: 100%;
}

.top_row{
	background-color: white;
}

.calc_num,
.calc_delete,
{
	font-weight: bold;
	font-size: 3em;
	text-align: center;
}

.category_selectors{
	font-size: 1rem;
	border-radius: 1rem;
	/*width: 15vw !important;*/
	/*margin-right: 4vw;*/
	/*margin-left: 4vw !important;*/
}

.category_containers{
	border-radius: 1rem;
}

.calc_text{
	height: 10vh;
}

p,
.category_selectors,
.add_charge{
	text-align: center;
}

.navbar-fixed{
	/*margin-bottom: 5vh;*/
}

.material-icons,
.dollar_amount {
    vertical-align:middle;
}

.row{
	/*margin-top: 10px !important;
	margin-bottom: 10px !important;*/
}

